{{day_greeting}} {{ first_name }}.
It's Michael from Nabeau Store.

Your purchased our Sadoer Collagen Cumbo Set (Collagen Face Serum & Face Cream) and was delivered on {{order_date}}, it's been a while now.
 We'd love to hear your honest experience about the product.

Please share your review with us 🙏
Thank you!

{% if review_link %}
{{ review_link }}
{% endif %}
