"""
{{day_greeting}} {{ first_name }}! It's Michael from Nabeau Store.

Your purchased our Sadoer Collagen Set (Collagen Face Serum & Face Cream) some while ago.
 We'd love to hear your honest experience about the product.

Share your experience with us.
Thank you!
{% if review_link %}
{{ review_link }}
{% endif %}
"""